﻿<ion-view view-title="Your Cart" cache-view="false" hide-backbutton="true">
	<ion-content>
		<ion-list>
			<div ng-repeat="book in books track by $index"
				 class="row responsive-sm" ng-if="$index % 2 == 0">
				<ion-item class="col-50" ng-repeat="i in [$index,$index + 1]" ng-if="books[i] != null" >
					<div class="item-thumbnail-left">
						<img src="img/image.jpg">
						<h2>{{::books[i].bookId}}</h2>
						<p>{{::books[i].title}}</p>
						<p>{{::books[i].price}} $</p>
						<p>
							<i class="icon ion-star" ng-repeat="i in getNumber(books[i].rating) track by $index"></i>
						</p>
					</div>
				</ion-item>
			</div>
		</ion-list>
		<div class="card" ng-show="books.length == 0">
			<div class="item item-text-wrap text-center">
				<h2>No Books in your cart!</h2>
				<br>
				<a href="#/app/browse">Add a few</a>
			</div>
		</div>
	</ion-content>
</ion-view>